<h2 class="text-center">Registration</h2>

<form class="form-horizontal" method="post">
    <fieldset>

        <legend>Regisration</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="firstName">First name</label>
            <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="First name" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="lastName">Last name</label>
            <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" placeholder="Last name" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="birthData">Birth data</label>
            <div class="col-md-4">
                <input id="birthData" name="birthData" type="date" placeholder="Birth data" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="Send"></label>
            <div class="col-md-8">
                <button id="Send" name="Send" class="btn btn-success">Send</button>
                <div id="cancel" name="cancel" class="btn btn-warning">@Html.ActionLink("Cancel", "Index")</div>
            </div>
        </div>

    </fieldset>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
