<h2 class="text-center">Registration</h2>

<form class="form-horizontal">
    <fieldset>

        <legend>Regisration</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="firstName">First name</label>
            <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="First name" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="lastName">Last name</label>
            <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" placeholder="Last name" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="birthData">Birth data</label>
            <div class="col-md-4">
                <input id="birthData" name="birthData" type="date" placeholder="Birth data" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                <button type="button" id="send" name="send" class="btn btn-success">Send</button>
                <button  type="button" id="cancel" name="cancel" class="btn btn-warning">@Html.ActionLink("Cancel", "Index")</button>
            </div>
        </div>

    </fieldset>
</form>

<script>
    $("#send")
        .click(function () {
            var user = {
                firstName: null,
                lastname: null,
                email: null,
                password: null,
                birthData: null
            }
            //var firsName = $("#firstNameame").val();
            var lastname = $("#lastName").val();
            var email = $("#email").val();
            var password = $("#password").val();
            var birthData = $("#birthData").val();

            user.firstName = $("#firstNameame").val();
            user.lastname = lastname;
            user.email = email;
            user.password = password;
            user.birthData = birthData;

            $.ajax({
                type: 'POST',
                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                url: "api/Registration/ValidateRegistration",
                data: user,
                success: function (data) {
                    console.log(data.arguments);
                },
                error: function (data) {
                    console.log( data.arguments);
                }
            });
        });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
