@model IEnumerable<Domain.Entities.BusStop>
    
<h2 class="text-center">Search Bus Stop Nane</h2>

<div class="text-center">
    <br />
    <form method="get">
        <p>
            <input type="search" name="searchName" placeholder="Минск" required />
            <input type="submit" value="Search" />
        </p>
    </form>
    <br />
</div>

@if (Model != null)
{
    foreach (var item in Model)
    {
       <p><b>Name:</b> @item.Name</p>
        <p><b>Description:</b> @item.Description</p>
    }
}